@using MediatR
@using Microsoft.Extensions.Configuration
@using Microsoft.JSInterop
@using Radzen
@using Radzen.Blazor
@using System.ComponentModel.DataAnnotations
@using System.Reflection
@typeparam TItem
@inject IConfiguration Config

<RadzenDataGrid @ref="radzenGrid" Data="Data" IsLoading="IsLoading" Count=Count LoadData=@LoadData AllowSorting="true" AllowFiltering="true" AllowPaging="true" AllowColumnResize="true" AllowColumnPicking="true" PageSize="20" PagerHorizontalAlign="HorizontalAlign.Center" TItem="@TItem" PickedColumnsChanged="ColumnsChanged" ColumnResized="ColumnResized">
    <Columns>

        @if (ShowDetail)
        {

            <RadzenDataGridColumn TItem="TItem" Title="" Sortable="false" Filterable="false" Width="100px" TextAlign="TextAlign.Center" Pickable="false">
                <Template Context="data">
                    <a class="rz-button rz-button-md rz-variant-filled rz-primary rz-shade-default rz-button-icon-only" href="@(prefix)/details/@(((dynamic)data).Id)">
                        <span class="rz-button-box">
                            <i class="rz-button-icon-left rzi">@(DetailIcon ?? "info")</i>
                        </span>
                    </a>
                </Template>
            </RadzenDataGridColumn>
        }

        @if (ShowEdit)
        {

            <RadzenDataGridColumn TItem="TItem" Title="" Sortable="false" Filterable="false" Width="100px" TextAlign="TextAlign.Center" Pickable="false">
                <Template Context="data">
                    <a class="rz-button rz-button-md rz-variant-filled rz-primary rz-shade-default rz-button-icon-only" href="@(prefix)/edit/@(((dynamic)data).Id)">
                        <span class="rz-button-box">
                            <i class="rz-button-icon-left rzi">edit</i>
                        </span>
                    </a>
                </Template>
            </RadzenDataGridColumn>
        }

        @foreach (var prop in typeof(TItem).GetProperties().Where(x => x.CanWrite))
        {
            bool visible = Columns == null || (Columns.Count() > 0 && Columns.Select(s => s.Property).Contains(prop.Name));


            string dataType = prop.PropertyType.Name;

            var dataTypeAttribute = prop.GetCustomAttribute<DataTypeAttribute>();

            if (dataTypeAttribute != null)
            {
                dataType = dataTypeAttribute.CustomDataType ?? string.Empty;
            }

            if (dataTypeAttribute == null && dataType == typeof(string).Name)
            {
                dataType = DataTypes.Text;
            }

            if (dataType == DataTypes.Text)
            {
                string width = Columns?.FirstOrDefault(w => w.Property == prop.Name)?.Width ?? "";

                <RadzenDataGridColumn TItem="TItem" Property="@prop.Name" Title="@prop.Name.ToSentence()" Visible="visible" Width=@width />
            }

            if (dataType == typeof(bool).Name)
            {
                <RadzenDataGridColumn TItem="TItem" Property="@prop.Name" Title="@prop.Name.ToSentence()" Sortable="true" Filterable="true" Width="200px" TextAlign="TextAlign.Center" Visible="visible">
                    <Template Context="data">
                        @{
                            var properyValue = prop.GetValue(data);

                            string propertyStringValue = properyValue?.ToString() ?? string.Empty;

                            if (propertyStringValue.ToUpperInvariant() == "TRUE")
                            {
                                <RadzenBadge BadgeStyle="BadgeStyle.Success" IsPill="@true" Text="True" />
                            }
                            else
                            {
                                <RadzenBadge BadgeStyle="BadgeStyle.Warning" IsPill="@true" Text="False" />
                            }
                        }
                    </Template>
                </RadzenDataGridColumn>
            }

            if (dataType == DataTypes.Date || (dataTypeAttribute == null && dataType == typeof(DateTime).Name))
            {
                <RadzenDataGridColumn TItem="TItem" Property="@prop.Name" Title="@prop.Name.ToSentence()" FormatString="{0:dd/MM/yyyy}" Width="160px" Visible="visible" />
            }

            if (dataType == DataTypes.DateTime)
            {
                <RadzenDataGridColumn TItem="TItem" Property="@prop.Name" Title="@prop.Name.ToSentence()" FormatString="{0:dd/MM/yyyy HH:mm}" Width="200px" Visible="visible" />
            }

            if (dataType == DataTypes.ImageUrl)
            {
                <RadzenDataGridColumn TItem="TItem" Title="" Sortable="false" Filterable="false" Width="100px" TextAlign="TextAlign.Center" Pickable="false">
                    <Template Context="data">

                        @{

                            string imageUrl = string.Empty;

                            var imgObj = prop.GetValue(data);

                            if (imgObj != null)
                            {
                                imageUrl = imgObj.ToString() ?? string.Empty;
                            }

                            if (!string.IsNullOrEmpty(imageUrl) && imageUrl.StartsWith("https"))
                            {
                                <img src="@(imageUrl)" crossorigin="" />
                            }

                            if (!string.IsNullOrEmpty(imageUrl) && !imageUrl.StartsWith("https"))
                            {
                                <img src="@($"{ImagePrefix}{imageUrl}")" crossorigin="" />

                            }
                        }


                    </Template>
                </RadzenDataGridColumn>
            }


        }



        @if (OnDeleteSet)
        {
            <RadzenDataGridColumn TItem="TItem" Title="" Sortable="false" Filterable="false" Width="100px" TextAlign="TextAlign.Center" Pickable="false">
                <Template Context="data">
                    <RadzenButton Icon="delete" class="delete-row" ButtonStyle="ButtonStyle.Danger" Click="() => DeleteActions(data)"></RadzenButton>
                </Template>
            </RadzenDataGridColumn>
        }


    </Columns>
</RadzenDataGrid>

@code {

    [Inject]
    public IJSRuntime JSRuntime { get; set; } = default!;

    [Inject]
    public NavigationManager NavigationManager { get; set; } = default!;

    async Task DeleteActions(TItem item)
    {
        await OnDelete.InvokeAsync(item);
        await radzenGrid.Reload();
    }

    protected override async Task OnParametersSetAsync()
    {
        prefix = NavigationManager.Uri;

        Columns = await LoadColumnSettingsAsync();

    }

    RadzenDataGrid<TItem> radzenGrid = default!;

    string prefix = default!;

    [Parameter]
    public string ImagePrefix { get; set; } = default!;

    [Parameter]
    public int Count { get; set; }

    [Parameter]
    public bool IsLoading { get; set; }

    [Parameter]
    public IEnumerable<TItem> Data { get; set; } = default!;

    [Parameter]
    public string DetailIcon { get; set; } = default!;

    [Parameter]
    public bool ShowDetail { get; set; }

    [Parameter]
    public bool ShowEdit { get; set; }

    [Parameter]
    public EventCallback<LoadDataArgs> LoadData { get; set; }

    [Parameter]
    public EventCallback<TItem> OnDelete { get; set; }

    private bool OnDeleteSet => OnDelete.HasDelegate;

    private List<ColumnInfo> Columns = new List<ColumnInfo>();

    async Task ColumnResized(DataGridColumnResizedEventArgs<TItem> args)
    {
        // Load existing column settings
        string key = GetLocalStorageKey();

        var resizedColumn = Columns.FirstOrDefault(c => c.Property == args.Column.Property);
        if (resizedColumn != null)
        {
            resizedColumn.Width = $"{args.Width}px";
        }
        else
        {
            Columns.Add(new ColumnInfo { Property = args.Column.Property, Width = $"{args.Width}px" });
        }

        // Save the updated column settings
        await JSRuntime.InvokeVoidAsync("localStorageHelper.save", key, Columns);
    }

    /// <summary>
    /// Only used to print the changes to the console.
    /// </summary>
    async Task ColumnsChanged(DataGridPickedColumnsChangedEventArgs<TItem> args)
    {
        var columnsSelected = args.Columns.Select(c => new ColumnInfo { Property = c.Property, Width = c.Width });

        string key = GetLocalStorageKey();

        await JSRuntime.InvokeVoidAsync("localStorageHelper.save", key, columnsSelected);
    }

    private string GetLocalStorageKey()
    {
        var uri = new Uri(NavigationManager.Uri);
        return $"columnSettings_{uri.AbsolutePath}";
    }

    private async Task<List<ColumnInfo>> LoadColumnSettingsAsync()
    {
        string key = GetLocalStorageKey();

        return await JSRuntime.InvokeAsync<List<ColumnInfo>>("localStorageHelper.load", key);
    }


    private sealed class ColumnInfo
    {
        public string Width { get; set; } = string.Empty;

        public string Property { get; set; } = string.Empty;
    }


}
