@page
@using Churchee.Module.Identity.Areas.Account.Pages
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
    Layout = "./_LoginLayout";
}

<section class="login-section bg-gradient-primary-to-secondary">
    <form id="account" method="post" autocomplete="off" class="wrap">
        <a class="logo" href="/"><img src="/img/churchee-gradient.svg" alt="churchee logo with a blue gradient"></a>
        <hr />
        <h1>Reset your password</h1>

        @Html.HiddenFor(m => m.Input.Code)

        <div class="field">
            @Html.LabelFor(m => m.Input.Email)
            @Html.EditorFor(m => m.Input.Email)
            @Html.ValidationMessageFor(m => m.Input.Email)
        </div>
        <div class="field">
            @Html.LabelFor(m => m.Input.Password)
            @Html.TextBoxFor(m => m.Input.Password, new { autocomplete = "off", type = "password", @class = "text-box single-line" })
            @Html.ValidationMessageFor(m => m.Input.Password)
        </div>
        <div class="field">
            @Html.LabelFor(m => m.Input.ConfirmPassword)
            @Html.TextBoxFor(m => m.Input.ConfirmPassword, new { autocomplete = "off", type = "password", @class = "text-box single-line" })
            @Html.ValidationMessageFor(m => m.Input.ConfirmPassword)
        </div>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div>
            <button type="submit">Reset</button>
        </div>

    </form>
</section>
